{% extends 'base.html' %}
{% block content %}
    <h1>Rent a Bike</h1>
    {% if bikes %}
    <form method="post" action="{{ url_for('rent_bike') }}">
        <div class="form-group">
            <label for="bike_id">Select a bike:</label>
            <select class="form-control" id="bike_id" name="bike_id">
                {% for bike in bikes %}
                <option value="{{ bike['id'] }}">{{ bike['type'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="lock_id">Select a lock:</label>
            <select class="form-control" id="lock_id" name="lock_id">
                {% for lock in locks %}
                <option value="{{ lock['id'] }}">{{ lock['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Rent Bike</button>
    </form>
    {% else %}
    <p>Sorry, there are no bikes available for rent at this time. Please check back later.</p>
    {% endif %}
{% endblock %}
